@model PersonalityPredictionAU.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<script>
    //$.ready(function () {
    //    $("#Facebook").click(function () {
    //        FB.login(function (response) {
    //        }, { scope: 'user_about_me,user_likes,user_posts,user_photos' });
    //    });
    //});
    $(document).ready(function () {
        $("#Facebook").attr("src", "/img/FacebookLogin.png");
        $("#Facebook").click(function () {
            $("#formSubmit").val("Facebook");
            $("form").submit();
        })
    })
</script>
<style>
    /*
    #Facebook {
        width: 200px;
        height: 48px;
    }
        */
    img#Facebook {
        width: 175px;
        height: 36px;
    }
    img#Facebook:hover {
        box-shadow: 0 1px 8px black;
        -moz-box-shadow: 0 1px 8px black;
        -webkit-box-shadow: 0 1px 8px black;
        cursor: pointer;
    }
    /*
    .btn {
        border: none;
        outline: none;
        visibility: hidden;
    }
    .btn:hover,
    .btn:focus,
    .btn:hover:focus {
        background-color: white;
        outline: none;
        border: none;
    }
        */
</style>
<h4>Use one of the services below to log-in.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <img id="@p.AuthenticationType" class="w3-animate-bottom" src="" title="Log in using your @p.Caption account" />
                        <!--<button type="submit" class="btn btn-default w3-animate-bottom" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account" ></button>-->
                    }
                </p>
                <input type="hidden" value="" name="provider" id="formSubmit" />
            </div>
        }
    }
}
